
@{
    ViewBag.Title = "About";
}


<link href="~/Content/round-about.css" rel="stylesheet" />
<link href="~/Content/test.css" rel="stylesheet" />
<link href="~/Content/animate.css" rel="stylesheet" />
<!-- Page Content -->
<div class="container" id="samy">
    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">
                About Us
                <small>Nice to Meet You!</small>
            </h1>
            <p>
                ComputerShop Inc is a Swedish privately owned company founded in 1984 and has since worked as a value-added distributor (VAD) for authorized distributors of computers from the world's leading design companies, in computers, building design, urban planning, as well as for the media and entertainment industries. We aim to cover up all the pieces from the project, service and sales witch means that you as a customer always can feel 100% safe with us
            </p>
        </div>
    </div>
    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header text-center">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center " src="~/Content/bilder/Samy.jpg" height="200" width="200">
            <h3>
                Mohammad Hassani
                <small>Founder</small>
            </h3>


            <p><strong>Email<br /></strong>mohammad.hassani@computershop.com</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center wow bounceIn" src="~/Content/bilder/12472830_10207627865468565_1581070790137039829_n.jpg" height="200" width="200">
            <h3>
                Afia Hellman
                <small>Head of Customer Service</small>
            </h3>
            <p> <strong>Email<br></strong>afia.hellman@computershop.com</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/Content/bilder/imageedit_7_3675311818.jpg">
            <h3>
                Miski Mohamed
                <small>Director, Sales</small>
            </h3>
            <p> <strong>Email<br></strong>miski.mohamed@computershop.com</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/Content/bilder/mattias.jpg">
            <h3>
                Mattias Alriksson
                <small>Products Specialist</small>
            </h3>
            <p> <strong>Email<br></strong>mattias.alriksson@computershop.com</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/Content/bilder/ladda ned (5).jpg">
            <h3>
                Johan Karlsson
                <small>Sales</small>
            </h3>
            <p> <strong>Email<br></strong>sales@computershop.com</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center wow bounceIn" src="~/Content/bilder/ladda ned (5).jpg">
            <h3>
                Anna Ivarssoon
                <small>Sales</small>
            </h3>
            <p> <strong>Email<br></strong>sales@computershop.com</p>
        </div>
    </div>

    <script src="~/Scripts/wow.min.js"></script>
    <script>
              new WOW().init();
    </script>
