
@{
    ViewBag.Title = "Customer";
}
<link href="~/Content/business-frontpage.css" rel="stylesheet" />
 
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Customer Service
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-sm-8">
            <h2>We will help you!</h2>
            <p>
                <br>
                Right now we have slightly longer response times than normal, but we answer your question as quickly as possible. Our customer service is here to help you. Please look through the FAQs before contacting us to see if we have already answered your question. Do not hesitate to contact us with any questions.
            </p>
            <p>
                <br>
                <a class="btn btn-default btn-lg" href="#">Call to Action &raquo;</a>
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Contact Us</h2>
            <address>
                <strong><p class="credits">Chat with us</p></strong>
                <strong>Monday - Friday</strong>
                09:00 - 18:00
                <br>
                <br><strong>Saturday - Sunday</strong>
                12:00 - 16:00
            </address>
            <address>
                <strong><p class="credits">Call us</p></strong>
                <strong>Monday - Friday</strong>
                <br> 09:00 - 18:00
                <abbr title="Phone">
                    <br><strong>Phone: </strong>
                </abbr>(0046) 76-22 67 678
            </address>

            <address>
                <strong><p class="credits">E-mail us</p></strong>
                <strong>Email: </strong><a href="mailto:#">Customerservice@Computershop.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://images.clipartpanda.com/pin-clipart-0808-0710-3113-3556.jpg" alt="">
            <h2>
                Opening Hours & Department Stores
            </h2>
            <p>Find your store and see all the hours across the country</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://www.nichepursuits.com/wp-content/uploads/2011/03/internet-marketing-tools-300x300.jpg" alt="">
            <h2>Service & Repair</h2>
            <br>
            <br>
            <p>
                Support and repair in Products? Get the service or support you want on one of our products.<br>
                Enter the name of the manufacturer / brand to know what applies to your product.
            </p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://gouvesguide.com/wp-content/uploads/2013/07/img214389_563208.jpg" alt="">
            <h2>Shipping & Delivery</h2>
            <br>
            <br>
            <p>
                Have you purchased an item on the website, by phone or in a department store and wonder when it will? Here's how to view the status of the delivery.
                You can always contact our customer service if you have questions or concerns.
            </p>
        </div>
    </div>
    <!-- /.row -->
    <hr>

</div>
<!-- /.container -->

