
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/stylish-portfolio.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/shop-homepage.css" rel="stylesheet" />
<link href="~/Content/animate.css" rel="stylesheet" />




<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <p class="lead">Top Products</p>
            <div class="thumbnail wow fadeInLeft">
                <a href="#"><img src="http://tubby.scene7.com/is/image/tubby/HP15AR081NO?$prod_all4one$" alt=""></a>
            </div>
            <div  class="thumbnail wow fadeInRight">
                <a href="#"><img src="http://tubby.scene7.com/is/image/tubby/MACBMJY32KSA_1?$prod_all4one$" alt=""></a>
            </div>
            <div class="thumbnail wow fadeInLeft ">
                <a href="#"><img src="http://tubby.scene7.com/is/image/tubby/BEATSEPBK?$prod_all4one$" alt="" ></a>
            </div>
            <p class="lead">NEW</p>
            <div class="thumbnail wow fadeInLeft">
                <a href="#"><img src="http://tubby.scene7.com/is/image/tubby/RAZKRAKBLUSB_3?$prod_all4one$" alt=""></a>
            </div>
            <div class="thumbnail wow fadeInRight">
                <a href="#"><img src="http://tubby.scene7.com/is/image/tubby/AOCG2460PF?$prod_all4one$" alt=""></a>
            </div>
            <div class="thumbnail wow fadeInLeft ">
                <a href="#"><img src="http://tubby.scene7.com/is/image/tubby/ACDGE03EQ004?$prod_all4one$" alt=""></a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="http://files.websitebuilder.prositehosting.co.uk/fasthosts24691/image/int-2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://valechatech.com/wp-content/uploads/2016/04/Apple_Laptop_Wallpaper-800x300.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://mdroid.my/en/wp-content/uploads/2016/09/MB16AC.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <h1 class="text-center">MOST POPULAR</h1>
            <hr />
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://tubby.scene7.com/is/image/tubby/LE80R9001AMX?$prod_all4one$" alt="">
                        <div class="caption">
                            <h4 class="pull-right">1 790Kr</h4>
                            <h4>
                                <a href="#">Lenovo</a>
                            </h4>
                            <p>Lenovo Ideapad 100S 14 tum fokuserar på lätt vikt och ett kompakt chassi. En tvåkärnig Celeron-processor, flashlagring och Windows 10 säkrar stabil prestanda. <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">SHOW PRODUCT</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://tubby.scene7.com/is/image/tubby/ACNXSHFED001?$prod_all4one$" alt="">
                        <div class="caption">
                            <h4 class="pull-right">1 895Kr</h4>
                            <h4>
                                <a href="#">Acer</a>
                            </h4>
                            <p>Acer Aspire One Cloudbook är en kompakt bärbar dator med 11,6 tum skärm som är lätt att ta med överallt. Inklusive ett års abonnemang på Office 365 Personal.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">SHOW PRODUCT</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://tubby.scene7.com/is/image/tubby/ACNTG53ED002?$prod_all4one$" alt="">
                        <div class="caption">
                            <h4 class="pull-right">2 495Kr</h4>
                            <h4>
                                <a href="#">Acer One</a>
                            </h4>
                            <p>Lätta, bärbara 2-in-1 Acer One förvandlas till en Notebook eller surfplatta när du behöver; allt utifrån behov för arbete och nöje.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">SHOW PRODUCT</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://tubby.scene7.com/is/image/tubby/HP15BA001NO?$prod_all4one$" alt="">
                        <div class="caption">
                            <h4 class="pull-right">3 995Kr</h4>
                            <h4>
                                <a href="#">HP 15-ba001no</a>
                            </h4>
                            <p>Med effektiv quad core AMD A6-processor, stor 15,6" HD-skärm och responsiv SSD ser denna bärbara dator HP 15-ba001no till att jobbet blir gjort. Den rejäla batteritiden ger upp till 8 timmars användning..</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">SHOW PRODUCT</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://tubby.scene7.com/is/image/tubby/MSIGL626QD015?$prod_all4one$" alt="">
                        <div class="caption">
                            <h4 class="pull-right">8 490Kr</h4>
                            <h4>
                                <a href="#">MSI GL62</a>
                            </h4>
                            <p>MSI GL62 är en kraftfull 15,6" bärbar dator för gaming. Den har en 6:e generationens Intel Core i5-processor, dedikerad Nvidia-grafik, Full HD.skärm och rikt Dynaudio-ljud.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">SHOW PRODUCT</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://tubby.scene7.com/is/image/tubby/MACBPMF839KSA_1?$prod_all4one$" alt="">
                        <div class="caption">
                            <h4 class="pull-right">12 390Kr</h4>
                            <h4>
                                <a href="#">SHOW PRODUCT</a>
                            </h4>
                            <p>MacBook Pro är utrustad med en otrolig Retina-skärm, femte generationens Intel Core i5-processor och flashminne, samtidigt som den har en tunn och lätt design.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">SHOW PRODUCT</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                


            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/wow.min.js"></script>
<script src="js/wow.min.js"></script>
<script>
              new WOW().init();
</script>