
@{
    ViewBag.Title = "Products";
}

<link href="~/Content/4-col-portfolio.css" rel="stylesheet" />


<!-- Page Content -->
<div class="container">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Our Products
                <small>Computer Components</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://tubby.scene7.com/is/image/tubby/ACNXSHFED001?$prod_all4one$" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://tubby.scene7.com/is/image/tubby/ACNTG53ED002?$prod_all4one$" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://tubby.scene7.com/is/image/tubby/LE80SG000HMX?$prod_all4one$" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://tubby.scene7.com/is/image/tubby/SATL9WB1023?$prod_all4one$" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://tubby.scene7.com/is/image/tubby/HP14X080NO?$prod_all4one$" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://tubby.scene7.com/is/image/tubby/HP11K180NO?$prod_all4one$" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://tubby.scene7.com/is/image/tubby/ACNXMPRED008?$prod_all4one$" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://tubby.scene7.com/is/image/tubby/SATC55DC1631?$prod_all4one$" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://tubby.scene7.com/is/image/tubby/ACNXGC4ED001?$prod_all4one$" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://tubby.scene7.com/is/image/tubby/SATL50DC18V?$prod_all4one$" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://tubby.scene7.com/is/image/tubby/MSIGL626QD015?$prod_all4one$" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://tubby.scene7.com/is/image/tubby/MSIGP602QF105?$prod_all4one$" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
    <hr>
