
@{
    Layout = null;
}

<link href="~/Content/stylish-portfolio.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1 style="color:ThreeDLightShadow;">WELCOME</h1>
        <h3 style="color:ThreeDLightShadow;">To the ComputerShop!</h3>
        <br>
        <a href="/Home/Index" class="btn btn-success btn-lg">STAR SHOPPING</a>
    </div>
</header>
